*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.home{
    background: url(img1.png) no-repeat;
    background-position: 65% 35%;
    height: 80vh;
    width: 100%;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
}
.logo .hrc-logo{
    margin: 10px 15px;
    display: inline;
    float: left;
}
.container-fluid{
    padding: 0;
    margin-top: 150px;
}
.home .container-fluid .row{
    margin: 100px 0 0 0;
    text-align: center;
}
#parag-c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
}
.parag{
    margin: 0;
    background-color: rgb(140, 216, 27);
    color: white;
    padding: 10px 20px 10px 0;
    border: 1px solid white;
    border-radius: 2.5px 10px 10px 2.5px;
}
#parag-d{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.form-heading{
    font-size: 20px;
    margin: 20px 0;
    color: slategray;
}
.form-c1{
    float: left;
}
.form-c2{
    width: 30vw;
    padding: 5px;
    border: transparent;
    border-bottom: 2px solid orange;
    background-color: rgb(236, 249, 255);
}
.btn-sub{
    color: white;
    background-color: rgb(180, 180, 170);
    padding: 4px 25px;
    margin-top: 30px;
    border-radius: 5px;
    display: block;
    border: none;
    outline: none;
    float: right;
}
.btn-sub:hover:focus{
    color: white;
    background-color:  rgb(185, 185, 175);
}
.btn-sub:focus{
    outline: 0 !important;
}
@media screen and (max-width: 690px){
    .parag{
        border-radius: 1px 1px 1px 1px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        border-radius: 10px 10px 10px 10px;
    }
    .form-c2{
        width: 50vw;
    }
}
@media screen and (min-width: 620px) {
    .form-c2{
        width: 40vw;
        padding: 5px;
    }
  }
@media screen and (min-width: 640px) {
    .form-c2{
        width: 50vw;
        padding: 5px;
    }
  }
@media screen and (min-width: 689px) {
    .form-c2{
        width: 40vw;
    }
}
@media screen and (min-width: 691px) {
    .form-c2{
        width: 30vw;
    }
}


